<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BookSelling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <BookSelling.Properties.Settings>
            <setting name="Remembered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="connectionString" serializeAs="String">
                <value>Data Source=(LocalDB)\v11.0;AttachDbFilename="C:\Users\Viktor\Documents\Visual Studio 2013\Projects\Project\BookSelling\BookSelling\BookSelling\Database1.mdf";Integrated Security=True</value>
            </setting>
            <setting name="ID" serializeAs="String">
                <value>7</value>
            </setting>
        </BookSelling.Properties.Settings>
    </userSettings>
</configuration>